<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ładowanie plików</title>
    </head>

    <body>
        {% if documents %}
        <h4>Lista wrzuconych na serwer plików:</h4>
            <ul>
                {% for document in documents %}
                    <li>{{"nazwa pliku :   "}}<a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>{{"     id = "}}{{ document.id }}</li> 
                {% endfor %}
            </ul>
        {% else %}
            <p>Brak dokumentów.</p>
        {% endif %}

        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <h4>Wybierz pliki, z których chcesz stworzyć model:</h4>
            <p>{{ form.docfile }}</p>

            <p><input type="submit" value="Wgraj pliki na serwer"/></p>
        </form>


        <form action="email">
        <h4> Wpisz swój adres email:</h4>
            <input name="nazwa" />
        </form>

        <h4>Wybierz indeks pliku, który chcesz użyć do stworzenia modelu:</h4>

        <form action="...">

            <select name="nazwa">
            {% if documents %}

            {% for document in documents %}

            
            <option>{{document.id}}</option>


            {% endfor %}
            </select>

            {% endif %}

        </form>

        <p><input type="submit" value="Przetwarzanie"/></p>


    </body>

</html>