
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Zalogowany</title>
    </head>

    <body>
<h3>Witaj: {{ user_name }}</h3>

<h3>Twoj email: {{ user_email }}</h3>

        
        <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p><input type="submit" value="Wyloguj się"/></p>
        </form>

<h3>Naciśnij przycisk aby załadować pliki:</h3>
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
